/Assiginment/nbproject/private/
/home/nbproject/private/
/Assiginment/build/
/home/build/
/home/dist/
/Lab2/nbproject/private/
/lab_2/nbproject/private/
/lab_2/build/
/lap2/nbproject/private/
/lap2/build/
/Assiginment/dist/
